body, html {
  font-family: "Open Sans";
  color: #252627;
  font-size: 30px;
  background-image: url("file:///android_res/drawable/bg.png");
  background-size: cover; /* This will make the background image cover the entire viewport */
  background-repeat: no-repeat; /* This will prevent the background image from repeating */
  background-attachment: fixed; /* This will fix the background image in place */

}
#container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.highlight {
  color: #e85f5c;
}

.refresh {
  text-transform: uppercase;
  display: none;
  margin: 100px;
  margin-top: 30px;
  background: #fff;
  padding: 10px 20px;
  border: 2px solid #e85f5c;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  color: #e85f5c;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.refresh:hover, .refresh:focus {
  margin: 100px;
  background: #e85f5c;
  color: #e85f5c;
  text-decoration: none;
}

.main-container {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 520px;
  overflow: hidden;
  text-align: center;
}
.main-container .game {
  margin: 50px auto 0 auto;
  font-size: 48px;
  transform: scale(1.6);
  transition: all 1s;
  opacity: 1;
  visibility: hidden;
  overflow: hidden;
}
.main-container .game td {
  border: 3px solid #252627;
  width: 80px;
  height: 80px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.main-container .game td .circle,
.main-container .game td .circle * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-container .game td .circle {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  display: block;
  margin: auto;
}
.main-container .game td .circle .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: transparent;
  border: 5px solid #FF4500;
  display: block;
}

.main-container .game td .circle .spinner {
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rotation 0.4s linear forwards;
  display: block;
}
.main-container .game td .circle .filler {
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 0.4s steps(1, end) reverse forwards;
  border-left: none;
  display: block;
}
.main-container .game td .circle .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa 0.4s steps(1, end) forwards;
  display: block;
}
.main-container .game td .x {
  display: block;
  margin: auto;
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.main-container .game td .x .line1 {
  position: absolute;
  width: 0;
  top: 0;
  border-top: 5px solid #1717C1;
  animation: line 0.2s ease forwards;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.main-container .game td .x .line2 {
  position: absolute;
  width: 0;
  top: 0;
  border-top: 5px solid #1717C1;
  animation: line 0.2s ease forwards;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: 100% 100%;
  animation-delay: 0.2s;
}
.main-container .game td:nth-child(1) {
  border-left: none;
  border-bottom: none;
}
.main-container .game td:nth-child(3) {
  border-right: none;
}
.main-container .game tr:nth-child(1) > td {
  border-top: none;
}
.main-container .game tr:nth-child(3) > td {
  border-bottom: none;
}
.main-container .game tr:nth-child(3) {
  border-bottom: none;
}
.main-container .game .strike-d1 {
  position: absolute;
  top: 0;
  border-top: 2px solid #252627;
  width: 0;
  z-index: 999;
  animation: strike-d 1s ease forwards;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.main-container .game .strike-d2 {
  position: absolute;
  top: 0;
  border-top: 2px solid #252627;
  width: 0;
  z-index: 999;
  animation: strike-d 1s ease forwards;
  right: 0;
  transform: rotate(-45deg);
  transform-origin: 100% 100%;
}
.main-container .game .strike-c0,
.main-container .game .strike-c1,
.main-container .game .strike-c2 {
  position: absolute;
  border-top: 2px solid #252627;
  width: 0;
  transform-origin: 0 0;
  z-index: 999;
  animation: strike 1s ease forwards;
  top: 0;
  left: 50px;
  transform: rotate(90deg);
}
.main-container .game .strike-r0,
.main-container .game .strike-r1,
.main-container .game .strike-r2 {
  position: absolute;
  border-top: 2px solid #252627;
  width: 0;
  transform-origin: 0 0;
  z-index: 999;
  animation: strike 1s ease forwards;
  top: 50px;
  left: 0;
}
.main-container .game .strike-r1 {
  top: 150px;
}
.main-container .game .strike-r2 {
  top: 250px;
}
.main-container .game .strike-c1 {
  left: 150px;
}
.main-container .game .strike-c2 {
  left: 250px;
}
.main-container .game.boardAway {
  transform: scale(0.75);
  opacity: 0;
}
.main-container .game.boardUp {
  transform: scale(1);
  opacity: 100;
}
.main-container .logo {
  color: #252627;
  display: none;
  margin-top : 60px;
  margin-bottom : 100px;

}
.main-container .logo .o-turn,
.main-container .logo .x-turn {
  transition: all 0.5s;
}
.main-container .result {
  display: none;
  opacity: 0;
  text-transform: uppercase;
  font-size: 32px;
  color: #fff; /* Text color */
  background-color: #333; /* Background color */
  padding: 10px; /* Add padding for better visual effect */
  border-radius: 5px; /* Rounded corners */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
}

.main-container .desc {
  font-size: 20px;
  line-height: 2;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 68px;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@keyframes strike-d {
  0% {
    width: 0;
  }
  100% {
    width: 424px;
  }
}
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}